header {
    background: #333;
    padding: 20px;
  }
  div.logo {
    /*background: rgb(100,125,145);*/
    padding: 15px;
    text-align: center;
    width: 200px;
    display: inline-block;
  }
  .navegacion {
    display: inline-block;
    float: right;
  }
  .header-date {
    font-size: 14px;
    color: #adadad;
    padding-right: 30px;
    text-transform: uppercase;
  }
  figure img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .svg-eltres {
    width: 26px;
  }

  .svg-radio2 {
    width: 24px;
  }

  .svg-fmvida {
    width: 56px;
  }

  .svg-radioplus {
    width: 44px;
  }
  label {
    display: block;
  }

  #demo:checked + label nav ul li {
    display: block;
  }
  #demo {
    display: none;
  }
  nav {
    position: relative;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  .top-menu{margin-top: 5px;}
  .bottom-menu{margin-top: 0px;}
  nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
  }

  nav ul li a {
    color: #f15a08;
    text-decoration: none;
  }

  .nav-toggle {
    display: none;
    position: absolute;
    top: 40px;
    right: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

  @media screen and (max-width: 730px) {
    nav ul li {
      display: none;
    }
    .nav-toggle {
      padding: 0px 0px 10px 10px;
      display: block;
      float: left;
    }
    
    .logo {
      display: block;
    }
    .navegacion {
      display: block;
      float: none;
      margin: auto;
      overflow: hidden;
    }
    header {
      text-align: center;
    }
    .header-date {
        padding: 0px 0px 10px 0px;
      }
  }